 <!-- {{#each fbImage}}
  <img src="{{link}}" class="img-responsive" class="img hashtag-img">
  <p> {{time}} </p>
{{/each}}  -->

 {{#each fbFeed}}
  <img src="{{photo}}" class="img-responsive" class="img hashtag-img">
  <p> {{caption}} </p>
  <p> {{message}} </p>
  <p> {{time}} </p>
{{/each}} 